<!DOCTYPE html>
<html>
<head>
    <title>PyCheckers | {% block title %}{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/kube.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pycheckers.css') }}">

</head>
<body>

    <header class="header section section--small">
        <div class="container container--wide">
            <nav class="navbar row align-middle between">
                <h1 class="navbar__title">
                    <a href="{{ url_for('index') }}">
                        PyCheckers
                    </a>
                </h1>
                <ul class="menu">
                    {% if g.user.is_authenticated %}
                        <li class="menu__item {% if rule == '/new-game' %}menu__item--active{% endif %}">
                            <a href="{{ url_for('start') }}">
                                <span class="fas fa-plus-square"></span>
                                New game
                            </a>
                        </li>
                        <li class="menu__item {% if rule == '/games' %}menu__item--active{% endif %}">
                            <a href="{{ url_for('active_games') }}">
                                <span class="fas fa-puzzle-piece"></span>
                                Active games
                            </a>
                        </li>
                        <li class="menu__item {% if rule == '/profile' %}menu__item--active{% endif %}">
                            <a href="{{ url_for('profile') }}">
                                <span class="fas fa-user"></span>
                                <span class="">{{ g.user.username }}</span>
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="{{ url_for('logout') }}">
                                <span class="fas fa-sign-out-alt"></span>
                                <span class="">Log out</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="menu__item {% if rule == '/login' %}menu__item--active{% endif %}">
                            <a href="{{ url_for('login') }}">
                                <span class="fas fa-sign-in-alt"></span>
                                Log in
                            </a>
                        </li>
                        <li class="menu__item {% if rule == '/register' %}menu__item--active{% endif %}">
                            <a href="{{ url_for('register') }}">
                                <span class="fas fa-user-plus"></span>
                                Register
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
 
    <main class="main section">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="messages-container">
                    {% for category, message in messages %}
                        <div class="container container--wide">
                            <div class="message {{ category }}" data-component="message">
                                <p>{{ message }}</p>
                                <span class="close big"></span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>
    
    <footer class="footer section section--small">
        <div class="container container--wide">
            <div class="row gutters auto between align-middle">
                <div class="col">
                    <p><span>Created by</span> <a href="https://mciszczon.pl/">Mateusz Ciszczoń</a></p>
                </div>
                <div class="col footer__more">
                    <ul class="menu">
                        <li class="menu__item">
                            <a href="https://github.com/mciszczon/pycheckers">
                                <span class="fab fa-github"></span>
                                Github
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="{{ url_for('license') }}">
                                <span class="fab fa-osi"></span>
                                License
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/kube.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fontawesome.js') }}"></script>
    <script src="{{ url_for('static', filename='js/clipboard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block script %}{% endblock %}
</body>
</html>