{% extends "base.html" %}
{% block title %}Start{% endblock %}
{% block content %}
    <div class="container">
            <h2>Start</h2>
            <p class="large">With PyCheckers you can play English draughts match online with artificial intelligence or with a friend.</p>
            <p>You can either try yourself with an AI on one of the three difficulty levels: easy, medium or hard.</p>
            <p>To play with a friend just start a new multiplayer game and send the generated link to your friend. When the other player opens the link, he will automatically be joined to your game and you can start your match.</p>
            
            <div class="row gutters u-margin-top">
                <div class="col col-6">
                    <a href="{{ url_for('board') }}" class="button large w100 u-text-center">
                        <h3 class="inverted">With the AI</h3>
                        <span class="fas fa-cogs"></span>
                    </a>
                </div>
                <div class="col col-6">
                    <a href="{{ url_for('board') }}" class="button large w100 u-text-center">
                        <h3 class="inverted">With a friend</h3>
                        <span class="fas fa-user"></span>
                    </a>
                </div>
            </div>
            
        </div>
{% endblock %}