{% extends "base.html" %}
{% block title %}Start{% endblock %}
{% block content %}
    <div class="container">
        <h2>PyCheckers—play English draughts online!</h2>
        <p class="large">With PyCheckers you can play English draughts match online with artificial intelligence or with a friend.</p>
        <p>You can either try yourself with an AI on one of the three difficulty levels: easy, medium or hard.</p>
        <p>To play with a friend just start a new multiplayer game and send the generated link to your friend. When the other player opens the link, he will automatically be joined to your game and you can start your match.</p>

        <div class="row gutters u-margin-top">
            <div class="col col-6">
                <a href="{{ url_for('start') }}" class="button large w100 u-text-center">
                    <span class="inverted">Start a game</span>
                </a>
            </div>
            <div class="col col-6">
                <a href="{{ url_for('active_games') }}" class="button large w100 u-text-center">
                    <span class="inverted">See current games</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}